
.sidenav {
    background-color: rgb(37,37,38);
    padding: 20px 10px;
    margin-top: 0px;
    white-space: pre-wrap;
}

.clicable {
    cursor: pointer;
    /* border-color: rgb(0,0,0); */
    border-style: solid;
    border-width: 5px;
}
.clicable:hover {
    cursor: pointer;
    border-color: rgb(0,0,0);
    border-style: solid;
    border-width: 5px;
}

table {
    width: 100%;
}

td:hover {
    cursor: pointer;
    background-color: rgba(128,128,128,0.1);
}

th {
    text-align: justify;
    font-size: medium;
    border-width: 2px ;
    border-color: rgba(128,128,128,0.1)
}

.dropdown-content {
    background-color: var(--vscode-menu-background );
    position: absolute;
    z-index: 3;
    width: 200px;
    box-shadow: 3px 3px 11px 3px rgba(0,0,0,0.77);
    margin: 0px;
  }
.dropdown-content menu{
    list-style: none;
    padding: 10px 0px;
}

.menu-item {
    padding: 5px 30px;
}
.menu-item:hover {
    cursor: pointer;
    background-color: var(--vscode-textLink-activeForeground);
}
.menu-break {
    padding: 0px 30px;
}